<h2>Thông Tin Cá Nhân Sinh Viên</h2>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <img src="{{Photo}}" width="300" alt="">
            </div>
            <div class="col-sm-7">
                <h1 style="margin-top: 100px;">Trường Cao Đẳng Công Nghệ Thông Tin Hồ Chí Minh</h1>
                <ul style="line-height: 40px; font-size: 20px;">
                   <li>Fullname: {{Fullname}}</li>
                    <li>Birthday: {{Birthday}}</li>
                    <li>Gender: {{Gender}}</li>
                    <li>Mark: {{Mark}}</li>
               </ul>
            </div>
        </div>
    </div>
    <h2 style="color: yellow;">Những đọc giả đáng chú ý</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <p>Nguyễn Trọng Phúc</p>
                <img src="../images/phuc.jpg" width="200" alt="">
            </div>
            <div class="col-sm-3">
                <p>Nguyễn Gia Tài</p>
                <img src="../images/tai.JPG" width="200" alt="">
            </div>
            <div class="col-sm-3">
                <p>Nguyễn Quốc Thái</p>
                <img src="../images/thai.JPG" width="200" alt="">
            </div>
            <div class="col-sm-3">
                <p>Trần Anh Vũ</p>
                <img src="../images/combat.JPG" width="200" alt="">
            </div>
            <div class="col-sm-3">
                <p>Nguyễn Thanh Thuận</p>
                <img src="../images/thuan.JPG" width="200" alt="">
            </div>
            <div class="col-sm-3">
                <p>Trần Văn Hòa</p>
                <img src="../images/hoa.jpg" width="200" alt="">
        </div>
    </div>
   </body>