<footer class="footer">
    <div class="footer-custom">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <div class="title">
                        <h3>About Us</h3>
                        <div class="line"></div>
                    </div>
                    <div class="content">
                        <p>
                           <img src="../images/address.png" alt="address" width="60px" height="70px">
                           Address: 34 B Phường Phú Thạnh, Quận Tân Phú
                        </p>
                        <p>
                            <img src="../images/hotline.jpg" alt="hotline" width="60px" height="70px"> Hotline: 00982701834 
                        </p>
                        <p>
                            tusachonline.com
                        </p>
                    </div>
                </div>

                <div class="col-sm-3 contact-us">
                    <div class="title">
                        <h3>Loại Sách Được Tìm Kiếm Nhiều Nhất</h3>
                        <div class="line"></div>
                    </div>
                    <div class="content">
                        <div class="item">
                             <div class="icon">
                                 <i class=""></i>
                             </div>
                             <div class="info">
                                <p>
                                    <img src="../images/hoctap.jpg" width="90px" height="90px" alt="học tập">Học Tập
                                </p>
                                <p>
                                    <img src="../images/chuyenmon.jpg" width="90px" height="90px" alt="học tập">Chuyên Môn
                                </p>
                                <p>
                                    <img src="../images/giaotrinh.jpg" width="90px" height="90px" alt="học tập">Giáo Trình
                                </p>
                             </div>
                        </div>

                        <!-- <div class="item">
                            <div class="icon">
                                <i class=""></i>
                            </div>
                       </div>

                       <div class="item">
                            <div class="icon">
                                <i class=""></i>
                            </div>
                        </div>

                   <div class="item">
                        <div class="icon">
                            <i class=""></i>
                        </div>
                    </div> -->

                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="title">
                        <h3>Phương Pháp Đọc Sách Giúp Bạn đọc dễ dàng hơn</h3>
                        <div class="line"></div>
                    </div>
                    <div class="info">
                        <p>
                            <img src="../images/thugian.jpg" width="90px" height="90px" alt="học tập">1/Thư Giãn
                        </p>
                        <p>
                            <img src="../images/taptrung.jpg" width="90px" height="90px" alt="học tập">2/Tập Trung
                        </p>
                        <p>
                            <img src="../images/suynghi.jpg" width="90px" height="90px" alt="học tập">3/Suy Nghĩ
                        </p>
                        <p>
                            <img src="../images/ghinho.jpg" width="90px" height="90px" alt="học tập">4/Ghi Nhớ
                        </p>
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="title">
                        <h3>Tôi Yêu Quyển Sách Này</h3>
                        <div class="line"></div>
                    </div>
                    <div class="content">
                        <img src="../images/angularJS.jpg" width="150px" height="180px" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
   
        
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p>&copy; 2022 | Tủ Sách online</p>
                </div>
            </div>
        </div>
    </div>
</footer>